<div>
	 <form class="add-movie-form">
      <legend>New Movie</legend>
        <label>Title</label>
        <input name="movie[title]" type="text">
        <label>Summary</label>
        <input name="movie[summary]" type="text">
        <label>Image</label>
        <input name="movie[img]" type="file">
        <hr />
       	<button type="submit" class="add">Create Movie</button>
    </form>
</div>