<div>
	 <form class="edit-movie-form">
      <legend>New Movie</legend>
        <label>Title</label>
        <input name="movie[title]" type="text" value="<%= movie.get('title') %>">
        <label>Summary</label>
        <input name="movie[summary]" type="text" value="<%= movie.get('summary') %>">
        <label>Image</label>
        <input name="movie[img]" type="file" %>
        <hr />
       	<button type="submit" class="edit">Edit Movie</button>
    </form>
</div>