<div>
	<form class="delete-movie-form">
	<h3><%= movie.get('title') %><h3>
	<img src="<%= movie.get('img_url') %>" alt="<%= movie.get('title') %>"/>
	<%= movie.get('summary') %>
	<button type="submit" class="edit">Edit</button>
	<button type="submit" class="delete">Delete</button>
	</form>
</div>